// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts {
    
    .cart_title {
        font-size: 120% ;
        font-weight: bold;
        color: #227;
    }

    .item_price, .total_line {
        text-align: right;
    }

    .total_line .total_cell {
        font-weight: bold;
        border-top: 1px solid #595;    
    }

    #actions {
        margin-left: 50px;
        margin-top: 2em;

         form, div {
            display: inline;
        }        
    }
}